In [ ]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

import pandas as pd
pd.set_option('display.max_columns', 30)

import requests

In [7]:
current_datetime = datetime.now() - relativedelta(months=2)

formatted_date = current_datetime.strftime("%Y-%m-%d")

url = f"https://data.cityofchicago.org/resource/ajtu-isnz.json?$where=trip_start_timestamp >= '{formatted_date}T00:00:00' AND trip_start_timestamp <= '{formatted_date}T23:59:59'&$limit=30000"

response = requests.get(url)

data = response.json()

In [8]:
len(data)

14795

In [9]:
taxi_trips = pd.DataFrame(data)

In [11]:
taxi_trips.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,...,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
0,9e8d7a1e364d9f4b0cf5bcb6759003066fdc34ac,cea53c687c3dd5ab8ad7483cc0003e4ea755d879919588...,2025-01-10T23:45:00.000,2025-01-11T00:30:00.000,2040,19.1,67,1,47,0,...,Cash,Taxi Affiliation Services,41.775928827,-87.666596265,"{'type': 'Point', 'coordinates': [-87.66659626...",42.009622881,-87.670166857,"{'type': 'Point', 'coordinates': [-87.67016685...",NaN,NaN
1,f0e77c373ecdcbf984e5ec5dc9d07061af69cd9a,9946e42a2123fb60e2fa9c39ce15b11a5cfd39cd899460...,2025-01-10T23:45:00.000,2025-01-11T00:15:00.000,1025,12.04,49,33,31.25,0,...,Prcard,City Service,41.706587882,-87.623366512,"{'type': 'Point', 'coordinates': [-87.62336651...",41.857183858,-87.620334624,"{'type': 'Point', 'coordinates': [-87.62033462...",NaN,NaN
2,efb875e75459c88ff60ab0f01fd80494608fbd27,8307cf9433f0293eee99c6944aeab484521d9cd9b1fce5...,2025-01-10T23:45:00.000,2025-01-10T23:45:00.000,5,0,24,24,18,3.7,...,Credit Card,City Service,41.901206994,-87.676355989,"{'type': 'Point', 'coordinates': [-87.67635598...",41.901206994,-87.676355989,"{'type': 'Point', 'coordinates': [-87.67635598...",NaN,NaN
3,ea8e66c280961b6a853c3c424a1aa286e248b4df,0b8a006f4b69afc94a10a09d153b509374fc0371fd9118...,2025-01-10T23:45:00.000,2025-01-11T00:00:00.000,447,1.15,77,77,6.5,0,...,Cash,Blue Ribbon Taxi Association,41.9867118,-87.663416405,"{'type': 'Point', 'coordinates': [-87.66341640...",41.9867118,-87.663416405,"{'type': 'Point', 'coordinates': [-87.66341640...",NaN,NaN
4,e6fe9756e6fcbc0051e44976b213a052b7622ab5,da3e1a4ae3869a45b431284672484905a694d6a7a08a05...,2025-01-10T23:45:00.000,2025-01-11T00:15:00.000,1154,11.16,13,NaN,28.5,0,...,Prcard,Flash Cab,41.983636307,-87.723583185,"{'type': 'Point', 'coordinates': [-87.72358318...",NaN,NaN,NaN,NaN,NaN

In [12]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14795 entries, 0 to 14794
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     14795 non-null  object
 1   taxi_id                     14795 non-null  object
 2   trip_start_timestamp        14795 non-null  object
 3   trip_end_timestamp          14795 non-null  object
 4   trip_seconds                14795 non-null  object
 5   trip_miles                  14795 non-null  object
 6   pickup_community_area       14263 non-null  object
 7   dropoff_community_area      13322 non-null  object
 8   fare                        14766 non-null  object
 9   tips                        14766 non-null  object
 10  tolls                       14766 non-null  object
 11  extras                      14766 non-null  object
 12  trip_total                  14766 non-null  object
 13  payment_type                14795 non-null  object
 14  company                     14795 non-null  object
 15  pickup_centroid_latitude    14268 non-null  object
 16  pickup_centroid_longitude   14268 non-null  object
 17  pickup_centroid_location    14268 non-null  object
 18  dropoff_centroid_latitude   13409 non-null  object
 19  dropoff_centroid_longitude  13409 non-null  object
 20  dropoff_centroid_location   13409 non-null  object
 21  pickup_census_tract         5215 non-null   object
 22  dropoff_census_tract        5014 non-null   object
dtypes: object(23)
memory usage: 2.6+ MB

In [13]:
taxi_trips.describe()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,...,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
count,14795,14795,14795,14795,14795,14795,14263,13322,14766,14766,...,14795,14795,14268,14268,14268,13409,13409,13409,5215,5014
unique,14795,1966,96,106,3033,2183,77,77,1549,905,...,7,36,142,142,142,166,166,166,67,97
top,5b8a323faa4c41b4665b42a95f5dee65389db26b,c34d6347f812df0e22ee1a907881bffff574dab3839a95...,2025-01-10T18:30:00.000,2025-01-10T18:30:00.000,360,0,8,8,9,0,...,Credit Card,Flash Cab,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",17031980000,17031839100
freq,1,37,300,308,156,1141,3264,3344,866,8385,...,4489,3322,1695,1695,1695,1448,1448,1448,907,759

In [15]:
taxi_trips[taxi_trips["fare"].isna()].sample(5)

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,...,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
7432,7c2ac37f2723d9eceae71089ed39c9108a85f6b5,2407ff99e367ceb469a8cc6663e6ad6ec51fb0f401d370...,2025-01-10T14:15:00.000,2025-01-10T14:30:00.000,1662,16.97,76,28,NaN,NaN,...,Cash,Chicago Independents,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",41.879255084,-87.642648998,"{'type': 'Point', 'coordinates': [-87.64264899...",17031980000,17031281900
1230,538bc02aaee44c4aea67589350f8796c73f8823c,180309cc29892cd16348ef74d7dd6f33af87e585a29b62...,2025-01-10T21:00:00.000,2025-01-10T21:45:00.000,2912,1.11,56,56,NaN,NaN,...,Cash,Taxicab Insurance Agency Llc,41.79259236,-87.769615453,"{'type': 'Point', 'coordinates': [-87.76961545...",41.79259236,-87.769615453,"{'type': 'Point', 'coordinates': [-87.76961545...",NaN,NaN
1940,719588d4243564b1357d2a2da047c880b791d0a1,d786258c399e3cb198dcba48a1626465b7e02e1b6d8df2...,2025-01-10T19:45:00.000,2025-01-10T19:45:00.000,3,0,76,76,NaN,NaN,...,Cash,Taxicab Insurance Agency Llc,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",17031980000,17031980000
3458,ffc44402c22cc3e3c898b5669202d4d94c37fba7,27f4e362035594e6144066180cd9f740961885b33231bd...,2025-01-10T18:00:00.000,2025-01-10T18:15:00.000,839,2.22,4,16,NaN,NaN,...,Mobile,Flash Cab,41.975170943,-87.687515515,"{'type': 'Point', 'coordinates': [-87.68751551...",41.953582125,-87.72345239,"{'type': 'Point', 'coordinates': [-87.72345239...",NaN,NaN
5268,54a477d6817477d801e3e046a7330236c51efbb3,18c20740c9cbe78a07c7bef21fd4dd4035fa01fb10f186...,2025-01-10T16:30:00.000,2025-01-10T16:45:00.000,1207,5.71,8,5,NaN,NaN,...,Cash,Sun Taxi,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",41.947791586,-87.683834942,"{'type': 'Point', 'coordinates': [-87.68383494...",NaN,NaN